<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Tic Tac Toe</span>
        </a>

        <ul class="nav nav-pills">
        <li class="nav-item"><a (click)="createNewGame()" class="nav-link active" aria-current="page">New Game</a></li>
        </ul>
    </header>
</div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let room of rooms$ | async; index as i" (click)="goToGame(room.name)">
        <div class="ms-2 me-auto">
        <div class="fw-bold">{{room.name}}</div>
            <div>Size: <strong>{{room.size}}</strong></div>
            <div>Dimension: <strong>{{room.dimension}}</strong></div> 
        </div>
    </li>
</ul>